@import "Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                          CONTACT ELECTED OFFICIALS                         */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.ContactElectedOfficials {
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  SECTION 1                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Section1 {
  height: 500px;
  width: 100%;
  background-color: rgb(34, 34, 34);
  background-image: url("/images/votingImage1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  .group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .heading {
    color: $Neutral-00;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
  }

  form {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    accent-color: rgba(0, 0, 0, 0.596);
    padding: 0 10px;

    input {
      height: 80px;
      width: 100%;
      max-width: 760px;
      background-color: $Neutral-00;
      background-image: url("/icons/search.png");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 32px;
      background-size: 16px;
      color: $Neutral-04;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      border: none;
      padding: 30px 20px 30px 65px;
    }

    button {
      height: 80px;
      background-color: $Primary-02;
      border: none;
      cursor: pointer;
      padding: 29px 50px;

      p {
        color: $Neutral-00;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }

      &:hover {
        background-color: #056e33;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  SECTION 2                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Section2Parent {
  width: 100%;
  //   background-image: url("/images/spiral2.png");
  //   background-repeat: no-repeat;
  //   background-position: top left;
  //   background-size: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.Section2 {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 150px 0;

  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .title {
    color: $Neutral-08;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .subTitle {
    color: $Neutral-04;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }

  .error {
    height: 20px;
    color: $Primary-03;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 32px;
    accent-color: $Primary-02;
    align-self: center;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1;

    p {
      color: $Spec-10;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    input {
      width: 100%;
      color: $Spec-11;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      border: 1px solid $Spec-06;
      border-radius: 8px;
      padding: 17px 20px;

      &::placeholder {
        color: $Spec-01;
      }
    }

    select {
      width: 100%;
      max-width: 479px;
      min-width: 250px;
      background-color: transparent;
      color: $Spec-11;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      border: 1px solid $Spec-06;
      border-radius: 8px;
      padding: 17px 20px;
    }
  }

  .submit {
    min-height: 56px;
    background-color: $Primary-02;
    color: $Neutral-00;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    padding: 16px 50px;

    &:hover {
      background-color: #02672e;
    }
  }
}
