@import "Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    SHOP                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Shop {
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  SECTION 1                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Section1 {
  height: 500px;
  width: 100%;
  background: linear-gradient(98.65deg, #004e21 1.03%, #e0a900 100.41%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .part1 {
    color: $Neutral-00;
    font-weight: 700;
    line-height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .eat {
      font-size: 62px;
    }

    .obi {
      font-size: 127px;
    }
  }

  .part2 {
    height: 350px;
    width: 503px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  SECTION 2                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Section2 {
  .Heading {
    color: $Neutral-08;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 0;
    text-align: center;
    padding: 50px 100px;
    position: relative;
  }

  .Display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                SECTION2 CARD                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Section2Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 10px;

  .image {
  }

  .title {
    color: $Neutral-08;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
  }

  .spec {
    color: $Spec-01;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  button {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;

    .text {
      color: $Spec-07;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
    }

    &:hover {
      background-color: #05612d17;
      //   border-radius: 12px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           SECTION2 TAB COMPONENT                           */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Section2Tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px 10px;
  flex-wrap: wrap;

  &Buttons {
    width: 125px;
    cursor: pointer;

    p {
      color: $Neutral-08;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      padding: 0 10px;
    }
  }
}
