$Neutral-00: #ffffff;
$Neutral-01: #fafafa;
$Neutral-02: #f7f7f7;
$Neutral-03: #efefef;
$Neutral-04: #6c737b;
$Neutral-05: #33383f;
$Neutral-06: #272b30;
$Neutral-07: #1a1d1f;
$Neutral-08: #000000;

$ShadesLight75: #9a9fa5;
$ShadesDark50: #6f767e;
$ShadesDarkOver: #111315;
$ShadesDark40: #6f767e;

$Primary-01: #000000;
$Primary-02: #00923f;
$Primary-03: #e60019;
$Primary-04: #012619;

$Secondary-01: #ffbc99;
$Secondary-02: #cabdff;
$Secondary-03: #b1e5fc;
$Secondary-04: #e8fff2;
$Secondary-05: #ffd88d;
$Secondary-06: #f8efff;
$Secondary-07: #f6f2ff;

$Spec-01: #959ead;
$Spec-02: #36b37e;
$Spec-03: #5a7184;
$Spec-04: #ebebeb;
$Spec-05: #eff2f3;
$Spec-06: #c3cad9;
$Spec-07: #5a7184;
$Spec-08: rgba(54, 179, 126, 0.2);
$Spec-09: rgba(195, 202, 217, 0.7);
