@import "Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   NAV BAR                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Navbar {
  width: 100%;
  color: $Neutral-07;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 0;
  padding: 34px;

  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
      font-weight: 700;
      font-size: 26px;
      cursor: pointer;

      .twenty {
        color: $Primary-02;
      }
      .twenty_three {
        color: $Primary-03;
      }
    }
  }

  .section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
    p {
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               FOOTER SECTION                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Footer {
  background-color: $Neutral-08;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 70px 50px;
  gap: 20px;

  p {
    color: $Neutral-00;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;

    .socials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
