@import "Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   NAV BAR                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Navbar {
  width: 100%;
  color: $Neutral-07;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 0;
  padding: 34px;

  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
      font-weight: 700;
      font-size: 26px;
      cursor: pointer;

      .twenty {
        color: $Primary-02;
      }
      .twenty_three {
        color: $Primary-03;
      }
    }
  }

  .section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
    p {
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               FOOTER SECTION                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Footer {
  background-color: $Neutral-08;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 70px 50px;
  gap: 20px;

  p {
    color: $Neutral-00;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;

    .socials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              RATING COMPONENT                              */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;

  .title {
    color: $Neutral-08;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    margin: 12px 0 8px;

    button {
      background-color: transparent;
      border: 1px solid $Primary-02;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 12px;
      padding: 12px 16px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }

      p {
        color: $Primary-02;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
      }
    }
  }

  .number {
    color: $Neutral-05;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                      COUNTDOWN COMPONENT FOR REMINDER                      */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;

  .section {
    background-color: $Neutral-03;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
  }

  .number {
    color: $Neutral-08 !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 48px !important;
    text-align: center;
  }

  .variable {
    color: $Neutral-06 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 32px !important;
    text-align: center;
  }

  .column {
    color: $Neutral-03 !important;
    font-weight: 700 !important;
    font-size: 50px !important;
    line-height: 18px !important;
    text-align: center;
  }
}

.CountdownDone {
  background-color: $Neutral-07;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 3px solid white;
  border-left-color: $Primary-02;
  border-right-color: $Primary-02;
  border-radius: 8px;
  filter: drop-shadow(0 0 3px white);
  padding: 10px 15px;
  margin: 2px;

  .election {
    color: $Neutral-03 !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    text-align: center;
  }

  .go {
    color: $Neutral-03 !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    text-align: center;
  }

  .peter {
    color: $Primary-03;
    text-shadow: 0 0 1px black;
  }

  .labour {
    color: $Primary-02;
    text-shadow: 0 0 3px black;
  }
}
